.main-screen{
background-image: url("/images/Mountain-Mac-bg.png");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
height: 100vh;
}

@media (max-width: 480px) {
    .main-screen{
        background-image: url("/images/Mountain-iPhone-bg.png");
       
    }
}

@media (max-width: 768px) {
    .main-screen{
        background-image: url("/images/Mountain-iPad-bg.png");
       
    }
}

